<a href="https://colab.research.google.com/github/UCD-Physics/Python-HowTos/blob/main/For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How to write 'For' loops

Loops are very helpful for iterating a calculation and are used a lot when interfacing in order to collect data. 

In Python there are two main type of loops: `for` loops and `while` loops.

`for` loops are used for looping over iterables (e.g. values in a list) and `while` loops are used to loop until some condition is met.

Note: for lists and dictionaries, looping can often be replaced with List Comprehensions, for example see the appropriate section in this notebook: [Lists.ipynb](https://github.com/UCD-Physics/Python-HowTos/blob/main/Lists.ipynb)


**Topics covered in this notebook:**
 * Basics of `for` loops
 * looping some number of times using `range()`
 * skipping the rest of the current loop with `continue`
 * exiting the `for` loop with `break`
 * looping and indexing at the same time with `enumerate()`
 * looping over two iterables at the same time with `zip()`

## `For` loops

For loops are very useful to iterate over an array of elements in a container, or execute a lop a set number of times (it is possible to skip a loop or break out from the loop when some condition is met).

The basic `for` loop syntax is:
```
for value in iterable:
    execute_statements1
else:
    execute_statements2
```
where
 * `iterable` is something that can be iterated over, like a list or a range
 * `execute_statements` are blocks of statements defined by indentation.
 * the `else` clause is optional and rarely used - it only gets 

This is best illustrated through examples:

In [1]:
# to print out all the values in an array

#start with some array, weather for example
weather = ["sunny", "cloudy", "rainy", "windy"]

#then say for the variables (x) in the array (weather), print out the variables
for x in weather:
    print(x)

sunny
cloudy
rainy
windy

### `range()`

To loop a set number of times you can use the `range()` generator.

`range()` takes one to three arguments
 * `range(end)`: produces numbers in the range 0 to end-1
 * `range(begin, end)`: produces numbers in the range begin to end-1
 * `range(begin, end, step)`: produces numbers in the range begin to end-1 in given steps:

Note: a python generator generates a new value for you each time through the loop - it does not generate all of the values at once - if you want all the values in list or tuple convert it to a list with `list(range(N))` or a tuple with `tuple(range(N))`.

Examples of `range()`:

In [11]:
# example to loop a set number of times

for i in range(6):
    print(i)

0
1
2
3
4
5

In [12]:
# example to loop a set number of times

for i in range(3,6):
    print(i)

3
4
5

In [13]:
# example to loop a set number of times

for i in range(0,6,2):
    print(i)

0
2
4

### Skip rest of this loop iteration with  `continue`

It is possible to skip the rest of the current iteration and go to the start of the next iterations by the command ``continue`:

In [14]:
# example to print out numbers evenly divisible by 7 in the range 1 to 50

for n in range(1,50):
    if n % 7:     # could have done: if (n % 7) != 0 but here using non-zero as True
        continue
    print(n)

7
14
21
28
35
42
49

### Exit the loop with `break`

It is also possible to stop the iteration and jump out of the loop by the command `break`.

Note: if we have one loop nested within another loop, the `break` statement only breaks out of the loop within which it is executing.

In [25]:
# example to stop the loop when a certain condition is reached

# find how many integers in sequence (0, 1, 2, 3...) are needed to sum to 100.

max_iter = int(input("Please enter maximum number of iterations: "))

total = 0
for n in range(max_iter):
    total += n
    if total >= 100:
        print(f"Total {total} found at iteration {n}")
        break
else:                     # else clause only execute if loop ends normally and no break
    print(f"Not enough iterations - only {total} reached!")

Please enter maximum number of iterations: 100
Total 105 found at iteration 14

### Looping and indexing at the same time with `enumerate()`.

Sometimes it is desireable to loop over an iterable which also knowing the index of each element. 

This can be achieved using `for i, item in enumerate(iterable)` which returns, `i`, the index along with the `item` for evey object in the list..

In [6]:
# example of using enumerate

# to loop over list and print index and item of each 

date = ['July 2nd', 'July 3rd', 'July 4th', 'July 5th', 'July 6th']
wind_speed = [22, 25, 36, 11, 15]

#to number the dates
for i, day in enumerate(date):
    print(i, day, sep=": ")

0: July 2nd
1: July 3rd
2: July 4th
3: July 5th
4: July 6th

### Looping over several iterables at the same time with `zip()`

Sometimes it is desireable to loop over several iterables at the same time, for example if we have multiple lists of corresponding items.  

This can be achieved using `for item1, item2 in zip(iterable1, iterable2)` and it can be extended to more than two iterables.

In [4]:
# example of using zip

# to print out the date next to the wind speed

date = ['July 2nd', 'July 3rd', 'July 4th', 'July 5th', 'July 6th']
wind_speed = [22, 25, 36, 11, 15]

for day, speed in zip(date, wind_speed):
    print(day, speed, sep=", ")

July 2nd, 22
July 3rd, 25
July 4th, 36
July 5th, 11
July 6th, 15